*,
::after,
::before {
  margin: 0;
  border: border-box;
}

.add {
  background-color: rgba(12, 15, 51, 0.137);
}
.success {
  background-color: green;
}
.falure {
  background-color: red;
}
.relodbutton {
  cursor: pointer;
  width: 120px;
  height: 40px;
  background-color: rgb(105, 218, 105);
  border: 1px solid rgb(8, 8, 8);
  font-size: large;
}
.relodbutton:hover {
  border: 1px solid white;
  color: white;
}
