*,
::after,
::before {
  margin: 0;
  border: border-box;
}
body {
  background-color: rgb(62, 93, 105);
}
.add {
  background-color: rgba(17, 18, 19, 0.534);
  color: white;
  transition: ease-in 0.5s;
}
.success {
  background-color: rgb(32, 187, 32);
}

.relodbutton {
  cursor: pointer;
  width: 120px;
  height: 40px;
  background-color: rgb(105, 218, 105);
  border: 1px solid rgb(8, 8, 8);
  font-size: large;
}
.relodbutton:hover {
  border: 1px solid white;
  color: white;
}
.holeAppwrapper {
  margin-top: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.resultsWrapper {
  position: fixed;
  transition: ease-in 0.3s;
  transform: scale(1.5);
  margin-top: 35vh;
}
